.display-none {
	display: none;
}

.validation-message {
	color: red;
}

button[type="submit"] {
    width: 100%;
}

td i {
	font-size: 20px;
}

.right-side {
	text-align: right;
}

img {
	width: 40px;
	height: 40px;
}

.container {
    margin-top: 50px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

table tbody tr td a {
    color: black;
}



